/*-------------------- CSS RESET ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------- ROOT VARIABLES --------------------------------------- */
:root{
    --teal: #007d7b;
    --black: #000000;
    --white: #ffffff;
}
/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
html, footer{
    background-color: var(--black);
}

body{
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
    color: var(--teal);
    font-weight: bold;
    padding: 1rem;
}

p {
    font-size: 1.25em;
}

nav{
    background-color: var(--black);
}

nav a {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
}

nav a:hover{
    color: var(--teal);
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
}

#backtotop {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    position: fixed;
    z-index: 1;
    background: var(--black);
    color: var(--white);
    border: 3px var(--white) solid;
    bottom: .5rem;
    right: .5rem;
    padding: .5rem;
}

#backtotop:hover{
    color: var(--teal);
}

main{
    margin: .5rem;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
}

#about p, #gallery p{
    color: var(--black);
}

#about p:last-child{
    margin-top: 1rem;
}

#gallery h2{
    padding: 1.2rem;
}

.images{
    display: grid;
    gap: .5rem;
    margin: 1.2rem;
    position: relative;
    text-align: center;
}


figcaption, label, input, small {
    font-size: 1em;
}

figcaption{
    top: -20px;
    position: relative;
    text-align: center; 
    z-index: 1;
}


.white{
    color: var(--white);
}

.black{
    color: var(--black);
}

figcaption.top{
    top:-275px;
}

figcaption.bottom{
    top:-25px;
}

figcaption.top.big{ /*iran, ireland*/
    top: -625px;
}

figcaption.bottom.big{ /*italy*/
    top: -25px;
}

footer{
    padding: .5rem;
}

#contact, p{
    color: var(--white);
    
}

#contact h2{
    padding: 1rem;
}

#contact p{
    text-align: center;
}

form {
    padding: 2rem;
}

.form label{
    display: block;
    margin-top: .5rem;
}

.form input{
    width: 100%;
    padding: .5rem;
}

textarea{
    font-size: 15px;
    width: 100%;
    padding: .5rem;
}

button{
    background-color: var(--teal);
    color: var(--white);
    font-weight: bold;
    border-radius: 1rem;
    width: 50%;
    padding: .5rem;
    margin: 1rem;
}
#submit-button{
    text-align: center;
}
::placeholder{
    color: var(--teal);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

footer > p{
    text-align: center;
    padding: .5rem;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width:880px) {
    nav ul{
        justify-content: center;
    }
    .images{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width:1330px) {
    nav ul{
        justify-content: right;
    }

    .images{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

}